# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macOS-15
    strategy:
      matrix:
        r-version: ['4.4']

    steps:
      - uses: actions/checkout@v3
      - name: Set up R ${{ matrix.r-version }}
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.r-version }}

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Restore R package cache
        uses: actions/cache@v4
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}

      - name: Install Perceval and Update tools.yml
        if: always()
        run: |
          : # Use GitHub Actions Global Folder Variable
          tmpfolder=$RUNNER_TEMP
          : # Create Virtual Env for Perceval - Global Pip Causes error
          venvfolder=$tmpfolder"/venv_perceval"
          python3 -m venv ${venvfolder}
          source ${venvfolder}/bin/activate
          python3 -m pip install perceval==1.4.1
          : # Replace Perceval Bin path in Tools Path to match GitHub Action
          percevalpath=$(which perceval)
          sed -i -e "s|perceval: \/Library\/Frameworks\/Python.framework\/Versions\/3.12\/bin\/perceval|perceval: ${percevalpath}|g" tools.yml
          sed -i -e "s|tmp: \/tmp|tmp: ${tmpfolder}|g" tools.yml
          : # Display the final tools.yml for inspection
          cat tools.yml
          cp tools.yml tests/testthat/testdata/tools.yml
        shell: bash

      - name: Install UCtags and Update tools.yml
        if: always()
        run: |
          brew tap homebrew/core
          brew install --HEAD universal-ctags
          utags_head=$(ls /opt/homebrew/Cellar/universal-ctags | tail -n 1)
          sed -i -e "s|utags: \/usr\/local\/Cellar\/universal-ctags\/HEAD-62f0144\/bin\/ctags|utags: \/opt\/homebrew\/Cellar\/universal-ctags\/${utags_head}\/bin\/ctags|g" tools.yml
          sed -i -e "s|utags: \/usr\/local\/Cellar\/universal-ctags\/HEAD-62f0144\/bin\/ctags|utags: \/opt\/homebrew\/Cellar\/universal-ctags\/${utags_head}\/bin\/ctags|g" tests/testthat/testdata/tools.yml
        shell: bash

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "warning", check_dir = "check")
        shell: Rscript {0}

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check
